<header>
    <a href="PawfectMatch.html"><img src="images/paw.jpg" alt="image could not load" width="80" height="80"></a>
    Pawfect
    Match<p style="display:inline; font-size: 45px;" id="headerTime"> </p>
</header>