<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="CSS/AdoptAPet.css">
    <title> Pawfect Match </title>
</head>

<%- include('./partials/header.ejs') %>
<script type="text/javascript" src="/js/PawfectMatch.js"></script>
<div class="next">
    <div class="menu">
        <ul>
            <li><a href="PawfectMatch.html">Home</a><br><br></li>
            <li><a href="findPet.html">Find a dog/cat</a><br><br></li>
            <li><a href="dogCare.html">Dog Care</a><br><br></li>
            <li><a href="catCare.html">Cat Care</a><br><br></li>
            <li><a href="giveAway.html">Have a pet to give away</a><br><br></li>
            <li><a href="createAnAccount.html">Create an Account</a><br><br></li>
            <li><a href="logOut">Log Out</a><br><br></li>
            <li><a href="contactUs.html">Contact Us</a><br><br></li>
        </ul>
    </div>
    <div class="main">
        <h1> When taking care of your cat:</h1><br>
        <img src="images/cat.jpg" alt="image not found">
        Caring for your pet cat involves several important aspects to ensure their health and happiness. Firstly,
        providing a balanced diet tailored to your cat's age, size, and specific dietary needs is essential. Cats are
        obligate carnivores, so their diet should consist primarily of high-quality protein sources. Consultation with a
        veterinarian can help determine the best type of food and feeding schedule for your cat. It's important to offer
        fresh water daily and avoid feeding your cat table scraps or foods that may be harmful, such as onions, garlic,
        or chocolate.<br><br>

        Regular exercise is crucial for maintaining your cat's physical and mental well-being. While cats may seem more
        independent than dogs, they still require opportunities for play and activity. Interactive toys, scratching
        posts, and climbing structures can provide mental stimulation and encourage exercise. Engaging in play sessions
        with your cat not only helps them stay fit but also strengthens the bond between you and your feline companion.
        <br><br>
        Maintaining your cat's hygiene is also important. Regular grooming sessions, including brushing their coat to
        remove loose fur and prevent matting, as well as trimming their nails, help keep your cat comfortable and reduce
        the risk of hairballs and scratches. Additionally, providing a clean litter box and scooping it daily is
        essential for your cat's health and hygiene. Cats are fastidious creatures and may avoid using a dirty litter
        box, leading to potential litter box aversion issues.
        <br><br>
        Routine veterinary care is crucial for keeping your cat healthy. Schedule regular check-ups with your
        veterinarian to monitor your cat's overall health and address any concerns promptly. Vaccinations, parasite
        prevention, and dental care are important components of your cat's preventive healthcare regimen. Your
        veterinarian can also provide guidance on spaying or neutering, as well as any specific health considerations
        based on your cat's breed or lifestyle.
        <br><br>
        Finally, providing a safe and enriching environment is essential for your cat's well-being. Ensure your home is
        free of hazards such as toxic plants, small objects that could be swallowed, and accessible cords or strings
        that could pose a choking hazard. Providing perches and hiding spots allows your cat to exhibit natural
        behaviors and feel secure in their environment. By prioritizing nutrition, exercise, grooming, veterinary care,
        and a safe living environment, you can ensure your cat lives a happy, healthy life as a beloved member of your
        family.

    </div>
</div>
<%- include('./partials/footer') %>

</html>