<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="CSS/AdoptAPet.css">
    <title> Pawfect Match </title>
</head>

<%- include('./partials/header.ejs') %>
<script type="text/javascript" src="/js/PawfectMatch.js"></script>
<div class="next">
    <div class="menu">
        <ul>
            <li><a href="PawfectMatch.html">Home</a><br><br></li>
            <li><a href="findPet.html">Find a dog/cat</a><br><br></li>
            <li><a href="dogCare.html">Dog Care</a><br><br></li>
            <li><a href="catCare.html">Cat Care</a><br><br></li>
            <li><a href="giveAway.html">Have a pet to give away</a><br><br></li>
            <li><a href="createAnAccount.html">Create an Account</a><br><br></li>
            <li><a href="logOut">Log Out</a><br><br></li>
            <li><a href="contactUs.html">Contact Us</a><br><br></li>
        </ul>
    </div>
    <div class="main">
        <h1> Contact Info : </h1><br>
        <p style = "font-size: 25px;"> Anthony Monaco <br>
            ID : 40281790 <br>
            mo_antho@live.concordia.ca
        </p>
    </div>
</div>
<%- include('./partials/footer') %>

</html>