<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="CSS/AdoptAPet.css">
    <title> Pawfect Match </title>
</head>
<%- include('./partials/header.ejs') %>
<script type="text/javascript" src="/js/PawfectMatch.js"></script>
<div class="next">
    <div class="menu">
        <ul>
            <li><a href="PawfectMatch.html">Home</a><br><br></li>
            <li><a href="findPet.html">Find a dog/cat</a><br><br></li>
            <li><a href="dogCare.html">Dog Care</a><br><br></li>
            <li><a href="catCare.html">Cat Care</a><br><br></li>
            <li><a href="giveAway.html">Have a pet to give away</a><br><br></li>
            <li><a href="createAnAccount.html">Create an Account</a><br><br></li>
            <li><a href="logOut">Log Out</a><br><br></li>
            <li><a href="contactUs.html">Contact Us</a><br><br></li>
        </ul>
    </div>
    <div class="main">
        <h1> When taking care of your dog:</h1><br>
        <img src = "images/dog.jpg" alt = "img not found">
        Taking care of your pet dog involves several key elements to ensure their health, happiness, and overall
        well-being. Firstly, proper nutrition is essential. Providing a balanced diet suitable for your dog's age, size,
        and breed is crucial. Consultation with a veterinarian can help determine the appropriate food type and portion
        sizes. It's important to choose high-quality dog food that contains essential nutrients and avoids fillers or
        artificial additives. Monitoring your dog's weight and adjusting their diet accordingly can help prevent obesity
        and related health issues. Additionally, avoid feeding your dog table scraps or foods that may be toxic to them,
        such as chocolate, grapes, or onions.<br><br>

        Regular exercise is another vital aspect of caring for your pet dog. Daily walks, playtime, and mental
        stimulation activities are essential to keep them physically fit and mentally stimulated. Engaging in activities
        such as fetch, obedience training, or agility exercises not only provide physical exercise but also strengthen
        the bond between you and your furry friend. The amount of exercise needed varies depending on your dog's age,
        breed, and health status. A young, energetic dog may require more vigorous exercise compared to an older or
        smaller breed. Regular exercise helps prevent behavioral problems stemming from boredom or excess energy and
        promotes a healthy weight and muscle tone.<br><br>
        Maintaining your dog's hygiene is equally important. Regular grooming sessions, including brushing their coat,
        trimming their nails, and cleaning their ears, help prevent matting, infections, and discomfort. The frequency
        of grooming depends on your dog's breed and coat type, with long-haired breeds requiring more frequent grooming
        compared to short-haired breeds. Brushing your dog's teeth regularly and providing dental treats or toys can
        help prevent dental issues such as tartar buildup and gum disease. Additionally, scheduling routine veterinary
        check-ups, vaccinations, and parasite prevention treatments are crucial for your dog's overall health and
        longevity. Your veterinarian can provide guidance on preventive care measures and detect any potential health
        problems early on.<br><br>

        Providing a safe and comfortable living environment, along with plenty of love and attention, completes the
        recipe for proper care of your beloved pet dog. Make sure your home is free of hazards such as toxic plants,
        small objects that could be swallowed, or accessible electrical cords. Providing a cozy bed, toys for mental
        stimulation, and a designated area for your dog to rest and relax will ensure they feel secure and content.
        Spending quality time with your dog, whether through cuddling, playing, or training, strengthens your bond and
        enhances their emotional well-being. By prioritizing nutrition, exercise, grooming, and regular veterinary care,
        you can ensure your dog lives a happy, healthy life as a cherished member of your family.






    </div>
</div>
<%- include('./partials/footer') %>

</html>