<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="CSS/AdoptAPet.css">
    <title> Pawfect Match </title>
</head>

<%- include('./partials/header.ejs') %>
<script type="text/javascript" src="/js/PawfectMatch.js"></script>
<div class="next">
    <div class="menu">
        <ul>
            <li><a href="/PawfectMatch.html">Home</a><br><br></li>
            <li><a href="/findPet.html">Find a dog/cat</a><br><br></li>
            <li><a href="/dogCare.html">Dog Care</a><br><br></li>
            <li><a href="/catCare.html">Cat Care</a><br><br></li>
            <li><a href="/giveAway.html">Have a pet to give away</a><br><br></li>
            <li><a href="/createAnAccount.html">Create an Account</a><br><br></li>
            <li><a href="logOut">Log Out</a><br><br></li>
            <li><a href="/contactUs.html">Contact Us</a><br><br></li>
        </ul>
    </div>
    <div class="main">
        <h1> Welcome to Pawfect Match!</h1><br>
        <p style="text-align:  center;">We are a non-profit organization dedicated to finding loving homes for abandoned
            and unwanted cats and dogs.
            All the animals in our care have been vet-checked and are up-to-date on their vaccinations.
            We encourage you to browse through our available pets and consider giving one a forever home. You can also
            find resources for caring for your new furry friend on our Dog Care and Cat Care pages.
        </p>
    </div>
</div>
<%- include('./partials/footer') %>
</html>