<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="CSS/AdoptAPet.css">
    <title> Pawfect Match </title>
</head>

<%- include('./partials/header.ejs') %>
<script type="text/javascript" src="/js/PawfectMatch.js"></script>
<div class="next">
    <div class="menu">
        <ul>
            <li><a href="PawfectMatch.html">Home</a><br><br></li>
            <li><a href="findPet.html">Find a dog/cat</a><br><br></li>
            <li><a href="dogCare.html">Dog Care</a><br><br></li>
            <li><a href="catCare.html">Cat Care</a><br><br></li>
            <li><a href="giveAway.html">Have a pet to give away</a><br><br></li>
            <li><a href="createAnAccount.html">Create an Account</a><br><br></li>
            <li><a href="logOut">Log Out</a><br><br></li>
            <li><a href="contactUs.html">Contact Us</a><br><br></li>

        </ul>
    </div>
    <div class="main">
        <h1>Privacy/Disclaimer Statement </h1><br>
        <p style="text-align:  left;">
            At Pawfect Match, we prioritize the privacy and security of your personal information. We assure you that any information you provide is used solely for communication and updates related to pet adoption inquiries. We do not sell, trade, or rent your personal information to third parties.
            <br><br>
            While we strive for accuracy, we cannot guarantee the completeness or reliability of the information posted by pet owners. Users are encouraged to verify the details of pet adoption listings independently before making any decisions.
            <br><br>
            Pawfect Match shall not be liable for any damages or losses arising from the use of our website or reliance on user-posted content. Users assume full responsibility for their interactions and transactions with pet owners and adoption agencies.
            <br><br>
            We reserve the right to modify this Privacy/Disclaimer Statement at any time without prior notice. By using Pawfect Match, you agree to the terms outlined in this statement.
            <br><br>
            If you have any questions or concerns about our privacy practices, please contact us.
            <br><br>
            Thank you for choosing Pawfect Match for your pet adoption needs.
            
            
        </p>
    </div>
</div>
<footer>
    <%- include('./partials/footer') %>
</footer>

</html>